<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет posts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все статьи</h1>
    <h2>Всего статей: {{post|length}}    </h2>
<hr>

    {% if post %}
        <table> <!-- Начинаем описывать таблицу -->
          <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
           </tr>



         {% for posts in post %}
            <tr>
               
               <td>{{ posts.title }}</td>
               <td>{{ posts.dateCreation }}</td>
               <td>{{ posts.preview }}</td>

           </tr>
        {% endfor %}
         </table>
{% else %}
        <h2>Статей нет</h2>
{% endif %}
{% endblock content %}